$color-primary-one:#FFDC44;
$color-primary-two:#394768;
$color-secondary-light:#E2E2E2;
$color-secondary:#7F879C;
$color-secondary-dark:#585858;
$color-green-light :#ABF6B1;
$color-green-dark :#59b661;
$color-body-background:#EFEFEF;
$color-white:#FFFFFF;
$color-black:#000000;
