@font-face {
    font-family: 'yekan';
    src: url("../fonts/yekanweb.eot");
    src: url("../fonts/yekanweb.eot?#iefix") format("embedded-opentype"), url("../fonts/yekanweb.woff") format("woff"), url("../fonts/yekanweb.ttf") format("truetype"), url("../fonts/yekanweb.svg#web_Yekan") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'numbers';
    src: url("../fonts/yekannumbers.eot");
    src: url("../fonts/yekannumbers.eot?#iefix") format("embedded-opentype"), url("../fonts/yekannumbers.woff") format("woff"), url("../fonts/yekannumbers.ttf") format("truetype"), url("../fonts/yekannumbers.svg#web_Yekan") format("svg");
    font-style: normal;
    font-weight: normal;
}