//IMPORT FILES
@import "colors";
@import "mixins";

.page-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
}

.header {
  height: 650px;
  border-bottom: 8px solid $color-primary-one;

  .header-banner {
    text-align: center;
    color: $color-white;
    padding-top: 15%;

    .header-banner-heading-one {
      font-size: 50px;
      transition: all ease .5s;
    }

    .header-banner-heading-three {
      font-size: 30px;
      margin-top: 50px;
      transition: all ease .5s;
    }

    .header-banner-link {
      padding: 15px 80px;
      margin-top: 40px;
      font-size: 18px;

      @include Button2($color-primary-one, $color-primary-two);
    }
  }

  .header-banner-go-down {
    position: absolute;
    bottom: -12px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);

    .header-banner-go-down-link {
      .header-banner-go-down-icon {
        background-color: $color-primary-one;
        border-radius: 50%;
        color: $color-white;
        padding: 6px 12px;
      }
    }
  }
}

//PRODUCTS STYLES
.products {
  margin-top: 60px;

  .products-line {
    display: inline-block;
    width: 100%;
    height: 2px;
    position: relative;
    margin-bottom: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 20px;
      background-color: $color-primary-two;
      height: 2px;
    }

    .products-line-heading-three {
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(0, -50%);
      font-size: 20px;
      background-color: $color-body-background;
      color: $color-primary-two;
      padding-left: 20px;
      padding-right: 8px;

      &::before {
        position: absolute;
        content: "";
        right: -15px;
        top: 30%;
        width: 15px;
        height: 15px;
        transform: rotate(45deg);
        background-color: $color-primary-one;
        transition: all ease 1s;
      }

      &:hover::before {
        transform: rotate(360deg);
      }
    }

    .products-line-heading-five {
      margin: 0;
      position: absolute;
      top: 0;
      left: -15px;
      transform: translate(0, -50%);
      font-size: 16px;
      background-color: $color-body-background;
      color: $color-primary-two;
      border-radius: 35px;

      .products-line-link {
        padding: 7px 10px;
        @include Button3($color-primary-two, $color-primary-one);
      }
    }
  }

  .products-boxes-wrapper {
    position: relative;

    .products-swiper-container {
      width: 100%;
      height: 100%;
      padding: 15px 0;

      .products-boxes {
        text-align: center;
        box-shadow: 2px 2px 5px 0 rgba($color-black, .15), -2px -2px 5px 0 rgba($color-black, .15);
        background-color: $color-white;
        transition: all ease .4s;
        user-select: none;

        .products-boxes-header {
          width: 100%;
          height: 200px;

          .products-boxes-header-image {
            width: 100%;
            height: 100%;
          }
        }

        .products-boxes-content {
          border-top: none;
          margin: 20px 8px;
          border-bottom: 1px solid $color-secondary-light;
          padding-bottom: 10px;
          .products-boxes-content-heading-three {
            font-size: 16px;
            height: 30px;
            overflow: hidden;
            padding-bottom: 10px;
            .products-boxes-content-link{
              color: $color-primary-two;
              transition: all ease .5s;
              &:hover{
                color: $color-primary-one;
              }
            }
          }
        }

        .products-boxes-footer {
          margin-top: 5px;
          margin-bottom: 5px;
          padding: 5px 10px;
          display: flex;
          justify-content: space-between;

          .products-boxes-footer-time {
            background-color: $color-secondary-light;
            color: $color-secondary-dark;
            padding: 7px 10px;
            font-size: 14px;
            display: inline-block;
            border-radius: 3px;

            .products-boxes-footer-time-icon {
              margin-left: 5px;
              vertical-align: middle;
            }

            .products-boxes-footer-time-text {
              vertical-align: middle;
            }
          }

          .products-boxes-footer-price {
            background-color: $color-green-light;
            color: $color-green-dark;
            padding: 7px 6px;
            font-size: 14px;
            display: inline-block;
            border-radius: 3px;

            .products-boxes-footer-price-text {
              vertical-align: middle;
            }
          }
        }

        &:hover {
          transform: scaleY(1.05);
        }
      }
    }

    .products-swiper-pagination {
      width: 100%;
      padding-top: 40px;
      padding-bottom: 30px;

      .swiper-pagination-bullet {
        background-color: $color-primary-two;
        opacity: .8;
        margin-left: 8px;
        padding: 2px 10px;
        transition: all ease .2s;
        height: auto !important;
        border-radius: 15px !important;

        &.swiper-pagination-bullet-active {
          background-color: $color-primary-one;
          padding: 2px 20px;
        }
      }
    }

    .products-swiper-button-next,
    .products-swiper-button-prev {
      background-color: $color-primary-two;
      box-shadow: -1.5px 0 4px 0 rgba($color-black, .4);
      border-radius: 50%;
      height: 50px;
      width: 50px;
      text-align: center;
      opacity: 0 !important;
      transition: all ease .3s;

      &::after {
        font-size: 25px;
        color: $color-primary-one;
        transform: rotate(180deg);
      }
    }

    .products-swiper-button-prev {
      left: auto;
      right: -25px;
    }

    .products-swiper-button-next {
      right: auto;
      left: -25px;
    }
  }

  &:hover .products-swiper-button-next,
  &:hover .products-swiper-button-prev {
    opacity: 1 !important;
  }

  &:hover .swiper-button-disabled {
    opacity: .4 !important;
  }
}

//BLOG STYLES
.blog {
  margin-top: 120px;

  .blog-line {
    display: inline-block;
    width: 100%;
    height: 2px;
    position: relative;
    margin-bottom: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 20px;
      background-color: $color-primary-two;
      height: 2px;
    }

    .blog-line-heading-three {
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(0, -50%);
      font-size: 20px;
      background-color: $color-body-background;
      color: $color-primary-two;
      padding-left: 20px;
      padding-right: 8px;

      &::before {
        position: absolute;
        content: "";
        right: -15px;
        top: 30%;
        width: 15px;
        height: 15px;
        transform: rotate(45deg);
        background-color: $color-primary-one;
        transition: all ease 1s;
      }

      &:hover::before {
        transform: rotate(360deg);
      }
    }

    .blog-line-heading-five {
      margin: 0;
      position: absolute;
      top: 0;
      left: -15px;
      transform: translate(0, -50%);
      font-size: 16px;
      background-color: $color-body-background;
      color: $color-primary-two;
      border-radius: 35px;

      .blog-line-link {
        padding: 7px 10px;
        @include Button3($color-primary-two,$color-primary-one)
      }
    }
  }

  .blog-boxes-wrapper {
    position: relative;

    .blog-swiper-container {
      width: 100%;
      height: 100%;
      padding: 15px 0;

      .blog-boxes {
        text-align: center;
        box-shadow: 2px 2px 5px 0 rgba($color-black, .15), -2px -2px 5px 0 rgba($color-black, .15);
        background-color: $color-white;
        transition: all ease .4s;
        user-select: none;

        .blog-boxes-header {
          width: 100%;
          height: 200px;

          .blog-boxes-header-image {
            width: 100%;
            height: 100%;
          }
        }

        .blog-boxes-content {
          margin: 20px 8px;
          border-bottom: 1px solid $color-secondary-light;
          padding-bottom:10px;
          .blog-boxes-content-heading-three {
            font-size: 16px;
            height: 30px;
            overflow: hidden;
            padding-bottom: 10px;
            color: $color-primary-two;
            transition: all ease .5s;
            &:hover{
              color: $color-primary-one;
            }
          }

          .blog-boxes-content-paragraph {
            font-size: 14px;
            height: 80px;
            line-height: 40px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $color-secondary;
          }
        }
        .blog-boxes-footer {
          margin-top: 5px;
          margin-bottom: 5px;
          padding: 5px 10px;
          display: flex;
          justify-content: space-between;
          .blog-boxes-footer-time {
            color: $color-secondary-dark;
            padding: 7px 10px;
            display: inline-block;
            border-radius: 3px;
            font-size: 12px;

            .blog-boxes-footer-time-icon {
              margin-left: 5px;
              vertical-align: middle;
            }

            .blog-boxes-footer-time-span {
              vertical-align: middle;

            }
          }
          .blog-boxes-footer-view {
            color: $color-secondary-dark;
            padding: 7px 10px;
            font-size: 12px;
            display: inline-block;
            border-radius: 3px;

            .blog-boxes-footer-view-icon {
              margin-left: 5px;
              vertical-align: middle;
            }

            .blog-boxes-footer-view-span {
              vertical-align: middle;
            }
          }
        }

        &:hover {
          transform: scaleY(1.05);
        }
      }
    }

    .blog-swiper-pagination {
      width: 100%;
      padding-top: 40px;
      padding-bottom: 30px;

      .swiper-pagination-bullet {
        background-color: $color-primary-two;
        opacity: .8;
        margin-left: 8px;
        padding: 2px 10px;
        transition: all ease .2s;
        height: auto !important;
        border-radius: 15px !important;

        &.swiper-pagination-bullet-active {
          background-color: $color-primary-one;
          padding: 2px 20px;
        }
      }
    }

    .blog-swiper-button-next,
    .blog-swiper-button-prev {
      background-color: $color-primary-two;
      box-shadow: -1.5px 0 4px 0 rgba($color-black, .4);
      border-radius: 50%;
      height: 50px;
      width: 50px;
      text-align: center;
      opacity: 0 !important;
      transition: all ease .3s;

      &::after {
        font-size: 25px;
        color: $color-primary-one;
        transform: rotate(180deg);
      }
    }

    .blog-swiper-button-prev {
      left: auto;
      right: -25px;
    }

    .blog-swiper-button-next {
      right: auto;
      left: -25px;
    }
  }

  &:hover .blog-swiper-button-next,
  &:hover .blog-swiper-button-prev {
    opacity: 1 !important;
  }

  &:hover .swiper-button-disabled {
    opacity: .4 !important;
  }
}

//WHY GALLERY AMUZESH STYLES
.why-gallery-amuzesh {
  background-color: $color-secondary;
  padding: 20px 0;
  margin-top: 120px;
  text-align: center;

  .why-gallery-amuzesh-heading-three {
    color: $color-white;
    font-size: 30px;
    margin-bottom: 40px;
  }

  .why-gallery-amuzesh-boxes-wrapper {
    .why-gallery-amuzesh-boxes {
      background-color: rgba($color-white, .6);
      border-radius: 10px;
      padding: 30px 0;
      margin-bottom: 30px;
      transition: all ease .5s;
      cursor: pointer;

      &:hover {
        transform: scaleY(1.05);
      }

      .why-gallery-amuzesh-boxes-image {
        width: 60%;
        height: 100px;
      }

      .why-gallery-amuzesh-boxes-heading-four {
        font-size: 22px;
        margin: 30px 0;
      }

      .why-gallery-amuzesh-boxes-paragraph {
        font-size: 15px;
      }
    }
  }
}

//ABOUT GALLERY AMUZESH STYLES
.about-gallery-amuzesh {
  background-image: url("../images/about-bg.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin-top: 120px;
  text-align: center;
  padding: 60px 0;
  color: $color-white;

  .about-gallery-amuzesh-heading-three {
    margin-bottom: 60px;
    font-size: 40px;
  }

  .about-gallery-amuzesh-paragraph {
    font-size: 22px;
    line-height: 2.5;
  }
}


//MEDIA QUERIES

@media only screen and (max-width: 576px) {
  .products-line-heading-five ,
  .blog-line-heading-five{
    margin-left: 15px !important;
  }
  .products-swiper-container,
  .blog-swiper-container{
    padding: 15px 15px !important;
  }
  .products-swiper-button-prev ,
  .blog-swiper-button-prev{
    right: -15px !important;
  }
  .products-swiper-button-next,
  .blog-swiper-button-next{
    left: -15px !important;
  }
}

@media only screen and (max-width: 768px) {
  .products-line-heading-three::before ,
  .blog-line-heading-three::before{
    display: none !important;
  }
  .products-line::before ,
  .blog-line::before{
    display: none !important;
  }
}

@media only screen and (min-width: 1200px) {
  .header-banner{
    padding-top: 10% !important;
  }
}
@media only screen and (max-width: 992px) {
  .why-gallery-amuzesh-boxes-col {
    margin-right: auto;
    margin-left: auto;
  }

}
@media only screen and (max-width: 768px) {
  .header-banner{
    padding-top: 20% !important;
  }
}
@media only screen and (max-width: 576px) {
  .header-banner{
    padding-top: 30% !important;
  }
}




