.login {
  top: 0;
  width: 100%;
  bottom: 0;
  min-height: 100vh;
  z-index: 9;
  opacity: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0 0;
  overflow: hidden;
  background-color: #FFFFFF;
}
.login::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  border-width: 50vh 0 50vh 200px;
  border-style: solid;
  border-color: transparent transparent transparent #FFFFFF;
  display: block;
  z-index: 3;
}
.login::before {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  left: 50%;
  z-index: 2;
  border-color: transparent transparent transparent #323e5b;
  border-width: 55vh 0 55vh 225px;
  top: -5vh;
}
.login .login-row {
  width: 100%;
}

.login-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  background-image: url("../images/login-register-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.login-right::before {
  background: rgba(57, 71, 104, 0.7);
  z-index: 1;
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.login-left-col {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 !important;
}

.login-left {
  width: 100%;
  text-align: center;
}
.login-left .login-left-logo {
  margin-bottom: 50px;
}
.login-left .login-left-anchors {
  margin-bottom: 40px;
  margin-top: 20px;
}
.login-left .login-left-anchors .login-left-anchors-link {
  min-width: 40%;
  margin: 0 5px;
  padding: 10px 0;
  text-align: center;
  color: #FFFFFF;
  background-color: #394768;
  border-radius: 2px;
  transition: all ease 0.3s;
  display: inline-block;
  position: relative;
  transform: perspective(1px) translateZ(0);
}
.login-left .login-left-anchors .login-left-anchors-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
  background: #273147;
  opacity: 0.6;
  transform: scaleY(0);
  transform-origin: 50% 100%;
  transition-property: transform;
  transition-duration: 0.35s;
  transition-timing-function: linear;
  z-index: -5;
}
.login-left .login-left-anchors .login-left-anchors-link:hover {
  color: #FFFFFF;
}
.login-left .login-left-anchors .login-left-anchors-link:hover::before {
  transform: scaleY(1);
}
.login-left .login-left-anchors .login-left-anchors-link.login-left-anchors-link-active {
  text-align: center;
  color: #FFFFFF;
  background-color: #FFDC44;
  border-radius: 2px;
  transition: all ease 0.3s;
  display: inline-block;
  position: relative;
  transform: perspective(1px) translateZ(0);
}
.login-left .login-left-anchors .login-left-anchors-link.login-left-anchors-link-active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
  background: #ffd211;
  opacity: 0.6;
  transform: scaleY(0);
  transform-origin: 50% 100%;
  transition-property: transform;
  transition-duration: 0.35s;
  transition-timing-function: linear;
  z-index: -5;
}
.login-left .login-left-anchors .login-left-anchors-link.login-left-anchors-link-active:hover {
  color: #FFFFFF;
}
.login-left .login-left-anchors .login-left-anchors-link.login-left-anchors-link-active:hover::before {
  transform: scaleY(1);
}
.login-left .login-left-input-group {
  margin: 30px auto;
}
.login-left .login-left-input-group .login-left-input-wrapper {
  position: relative;
  width: 55%;
  margin: auto;
}
.login-left .login-left-input-group .login-left-input-wrapper:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #FFDC44;
  z-index: 5555;
  height: 1px;
  transition: all ease 0.5s;
  width: 0;
}
.login-left .login-left-input-group .login-left-input-wrapper.focus-input-wrapper::before {
  width: 100%;
}
.login-left .login-left-input-group .login-left-input-wrapper .login-left-input {
  width: 100%;
  border-bottom: 1px solid #394768;
  padding: 6px;
  position: relative;
}
.login-left .login-left-input-group .login-left-input-wrapper .login-left-input:focus + .login-left-icon {
  color: #FFDC44;
}
.login-left .login-left-input-group .login-left-input-wrapper .login-left-icon {
  position: absolute;
  left: 0;
  top: 40%;
  color: #394768;
  transition: all ease 0.5s;
}
.login-left .login-left-checkbox-label {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  width: 55%;
  margin: auto;
  color: #394768;
}
.login-left .login-left-checkbox-label .login-left-checkbox {
  position: absolute;
  opacity: 1;
  cursor: pointer;
  height: 0;
  width: 0;
}
.login-left .login-left-checkbox-label .login-left-checkbox + span {
  position: absolute;
  top: 30%;
  right: 10%;
  height: 12px;
  width: 12px;
  background-color: #FFFFFF;
  border: 1px solid #394768;
  border-radius: 1px;
  transition: all ease 0.5s;
}
.login-left .login-left-checkbox-label .login-left-checkbox + span:after {
  content: "";
  position: absolute;
  display: none;
}
.login-left .login-left-checkbox-label .login-left-checkbox:checked + span {
  background-color: #394768;
}
.login-left .login-left-checkbox-label .login-left-checkbox:checked + span::after {
  display: block;
}
.login-left .login-left-submit {
  min-width: 35%;
  margin: 0 5px;
  padding: 10px 0;
  text-align: center;
  color: #FFFFFF;
  background-color: #394768;
  border-radius: 2px;
  transition: all ease 0.3s;
  display: inline-block;
  position: relative;
  transform: perspective(1px) translateZ(0);
}
.login-left .login-left-submit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
  background: #273147;
  opacity: 0.6;
  transform: scaleY(0);
  transform-origin: 50% 100%;
  transition-property: transform;
  transition-duration: 0.35s;
  transition-timing-function: linear;
  z-index: -5;
}
.login-left .login-left-submit:hover {
  color: #FFFFFF;
}
.login-left .login-left-submit:hover::before {
  transform: scaleY(1);
}

@media screen and (max-width: 767px) {
  .login-right {
    display: none;
  }

  .login::before, .login::after {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .login-left-input-wrapper {
    width: 75% !important;
  }
}

/*# sourceMappingURL=login-register.css.map */
