@import "colors";
@import "mixins";

.login {
  top: 0;
  width: 100%;
  bottom: 0;
  min-height: 100vh;
  z-index: 9;
  opacity: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0 0;
  overflow: hidden;
  background-color: $color-white;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    border-width: 50vh 0 50vh 200px;
    border-style: solid;
    border-color: transparent transparent transparent $color-white;
    display: block;
    z-index: 3;
  }

  &::before {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    left: 50%;
    z-index: 2;
    border-color: transparent transparent transparent darken($color-primary-two, 4%);
    border-width: 55vh 0 55vh 225px;
    top: -5vh;
  }

  .login-row {
    width: 100%;
  }
}


.login-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  background-image: url("../images/login-register-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &::before {
    background: rgba($color-primary-two, .7);
    z-index: 1;
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

.login-left-col {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 !important;
}

.login-left {
  width: 100%;
  text-align: center;

  .login-left-logo {
    margin-bottom: 50px;
  }

  .login-left-anchors {
    margin-bottom: 40px;
    margin-top: 20px;
.login-left-anchors-link{
  min-width: 40%;
  margin: 0 5px;
  padding: 10px 0;
  @include Button1($color-primary-two);
&.login-left-anchors-link-active{
  @include  Button1($color-primary-one);
}
}
  }

  .login-left-input-group {
    margin:30px auto;

    .login-left-input-wrapper {
      position: relative;
      width: 55%;
      margin: auto;

      &:before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: $color-primary-one;
        z-index: 5555;
        height: 1px;
        transition: all ease .5s;
        width: 0;
      }

      &.focus-input-wrapper::before {
        width: 100%;
      }

      .login-left-input {
        width: 100%;
        border-bottom: 1px solid $color-primary-two;
        padding: 6px;
        position: relative;

        &:focus {
          & + .login-left-icon {
            color: $color-primary-one;
          }
        }
      }

      .login-left-icon {
        position: absolute;
        left: 0;
        top: 40%;
        color: $color-primary-two;
        transition: all ease .5s;
      }

    }
  }

  .login-left-checkbox-label {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    width: 55%;
    margin: auto;
      color: $color-primary-two;
    .login-left-checkbox {
      position: absolute;
      opacity: 1;
      cursor: pointer;
      height: 0;
      width: 0;

      & + span {
        position: absolute;
        top: 30%;
        right: 10%;
        height: 12px;
        width: 12px;
        background-color: $color-white;
        border: 1px solid $color-primary-two;
        border-radius: 1px;
        transition: all ease .5s;
        &:after {
          content: "";
          position: absolute;
          display: none;
        }
      }

      &:checked + span {
        background-color: $color-primary-two;

        &::after {
          display: block;
        }
      }
    }
  }
    .login-left-submit {
      min-width: 35%;
      margin: 0 5px;
      padding: 10px 0;
      @include Button1($color-primary-two);
    }

}

@media screen and (max-width: 767px) {
  .login-right {
    display: none;
  }
  .login::before, .login::after {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .login-left-input-wrapper {
    width: 75% !important;
  }
}