@import "colors";
@import "mixins";
.page-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
}

//PANEL STYLES
.panel {
  .panel-right {
    border: 1px solid $color-secondary-light;
    box-shadow: .5px .5px 8px 0 lighten($color-secondary, 18%);
    border-radius: 5px;

    .panel-right-header {
      background-image: linear-gradient(rgba($color-primary-one, .2), rgba($color-primary-one, .2)), url("../images/pattern-bg.png");
      background-repeat: repeat;
      background-size: 100%;
      padding: 25px 0;
      width: 100%;
      border-radius: 5px 5px 0 0;

      .panel-right-header-image {
        width: 55%;
        border-radius: 50%;
        display: block;
        margin: 10px auto;
      }

      .panel-right-header-heading-three {
        font-size: 18px;
        text-align: center;
        color: $color-secondary-dark;
        margin-bottom: 20px;
      }

      .panel-right-header-paragraph {
        font-size: 14px;
        text-align: center;
        color: $color-secondary;
      }
    }

    .panel-right-content {
      background-color: $color-white;
      padding: 20px 0;
      text-align: right;

      .panel-right-content-list {
        .panel-right-content-item {
          padding: 10px 30px;
          position: relative;
          transition: all ease .5s;
          color: $color-primary-two;
          &:hover{
            color: $color-primary-one;
            &:after{
              background-color: $color-primary-two
            }
          }
          &.panel-right-content-item-active {
            background: $color-primary-two;
            color: $color-primary-one;
          }

          &:after {
            position: absolute;
            content: "";
            right: 10px;
            top: 40%;
            width: 6px;
            height: 6px;
            background-color: $color-primary-one;
            transform: rotate(45deg);
            transition: all ease .5s;
          }
        }
      }
    }
  }

  .panel-left {
    background-color: $color-white;

    .panel-left-dashboard {
      box-shadow: 0 0 8px rgba($color-secondary, .5);
      border: 1px solid rgba($color-secondary, .5);
      border-radius: 5px;

      .panel-left-dashboard-header {
        padding: 30px;
        text-align: right;
        position: relative;
        border-bottom: 1px solid rgba($color-secondary, .5);

        &::after {
          position: absolute;
          content: "";
          right: -15px;
          top: 50%;
          width: 30px;
          height: 2.5px;
          background-color: $color-primary-one;
        }

        .panel-left-dashboard-header-heading-three {
          font-size: 20px;
          color: $color-primary-two;
        }

      }

      .panel-left-dashboard-content {
        padding: 30px;
        text-align: right;

        .panel-left-dashboard-content-list {
          .panel-left-dashboard-content-item {
            color: $color-primary-two;
            position: relative;
            padding: 30px 20px;

            &::after {
              position: absolute;
              content: "";
              right: 0;
              top: 45%;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: $color-primary-one;
            }
          }
        }
      }
    }

    .panel-left-change-password {
      box-shadow: 0 0 8px rgba($color-secondary, .5);
      border: 1px solid rgba($color-secondary, .5);
      border-radius: 5px;

      .panel-left-change-password-header {
        padding: 30px;
        text-align: right;
        position: relative;
        border-bottom: 1px solid rgba($color-secondary, .5);

        &::after {
          position: absolute;
          content: "";
          right: -15px;
          top: 50%;
          width: 30px;
          height: 2.5px;
          background-color: $color-primary-one;
        }

        .panel-left-change-password-header-heading-three {
          font-size: 20px;
          color: $color-primary-two;
        }

      }

      .panel-left-change-password-content {
        padding: 30px;
        text-align: right;

        .panel-left-change-password-content-input-group {
          margin: 30px 0;
          text-align: center;

          .panel-left-change-password-content-label {
            text-align: right;
            color: $color-primary-two;
          }

          .panel-left-change-password-content-input {
            border: 1px solid $color-secondary-light;
            padding: 5px 20px;
            display: block;
            margin: 20px auto;
            width: 80%;
            border-radius: 10px;
            transition: all ease .5s;

            &:focus {
              border: 1px solid $color-secondary;
            }
          }

          .panel-left-change-password-content-submit {
            margin: 0 auto;
            padding: 15px 30px;
            @include Button1($color-primary-two);
          }
        }
      }
    }

    .panel-left-my-courses {
      box-shadow: 0 0 8px rgba($color-secondary, .5);
      border: 1px solid rgba($color-secondary, .5);
      border-radius: 5px;

      .panel-left-my-courses-header {
        padding: 30px;
        text-align: right;
        position: relative;
        border-bottom: 1px solid rgba($color-secondary, .5);

        &::after {
          position: absolute;
          content: "";
          right: -15px;
          top: 50%;
          width: 30px;
          height: 2.5px;
          background-color: $color-primary-one;
        }

        .panel-left-change-password-header-heading-three {
          font-size: 20px;
          color: $color-primary-two;
        }
      }

      .panel-left-my-courses-content {
        padding: 30px;
        text-align: right;

        a {
          color: $color-secondary-dark;
          transition: all ease .3s;
        }

        a:hover {
          color: $color-primary-one;
      }
    }
  }
}


  @media screen and (max-width: 768px) {
    .panel-right-header-image {
      width: 30% !important;
    }
    .panel-right {
      margin-bottom: 30px;
    }
  }
}

