{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/login-register.css' %}">
    <title>ورود</title>
</head>
<body>
<!-- START LOGIN -->
<div class="login">
    <div class="row login-row">
        <div class="col-md-6 col-lg-6 col-xl-6 login-right-col">
            <div class="login-right">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 login-left-col">
            <div class="login-left">
                <div class="login-left-logo">
                    <a href="#" class="login-left-logo-link">
                        گالری آموزش
                    </a>
                </div>
                {% if error %}
                <div class="alert alert-danger w-75 mx-auto">
                    <p>{{error}}</p>
                </div>
                {% endif %}
                <form action="{% url 'add_product' %}" method="POST" class="login-left-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="login-left-input-group">
                            <div class="login-left-input-wrapper">
                                <input type="text" class="login-left-input" placeholder="نام آموزش" name="name" required onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off">
                                <input type="number" class="login-left-input" placeholder="تعداد ویدیو" name="videos_number" required onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off">
                                <input type="text" class="login-left-input" placeholder="مدرس" name="presentor" required onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off">
                                <input type="text" class="login-left-input" placeholder="زمان کل آموزش" name="time" required onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off">
                                <input type="number" class="login-left-input" placeholder="قیمت به تومان" name="price" required onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off">
                                <input type="number" class="login-left-input" placeholder="تخفیف درصد" name="off" required onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off">
                                <textarea class="login-left-input" style="height:300px" placeholder="توضیحات" name="summary" required onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off"></textarea>
                            </div>
                        </div>
                        <div class="login-left-input-group">
                            <div class="login-left-input-wrapper">
                                <input type="file" class="login-left-input" placeholder="file" name="file" required onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off">
                                <i class="fa login-left-icon">فایل آموزش</i>
                            </div>
                        </div>
                        <div class="login-left-input-group">
                            <div class="login-left-input-wrapper">
                                <input type="file" class="login-left-input" placeholder="file" name="image" required onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off">
                                <i class="fa login-left-icon">عکس محصول آموزشی</i>
                            </div>
                        </div>

                        <hr>
                        <div class="login-left-logo">
                            جلسه ها
                        </div>
                        <div class="login-left-input-group">
                            <div id="session" class="login-left-input-wrapper">
                                <input type="text" id="topic" class="login-left-input" placeholder="موضوع" name="topic1" onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off">
                                <input type="text" id="time" class="login-left-input" placeholder="مدت زمان" name="time1" onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off"><br><br><br>
                                <input type="text" id="topic" class="login-left-input" placeholder="موضوع" name="topic2" onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off">
                                <input type="text" id="time" class="login-left-input" placeholder="مدت زمان" name="time2" onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off"><br><br><br>
                                <input type="text" id="topic" class="login-left-input" placeholder="موضوع" name="topic3" onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off">
                                <input type="text" id="time" class="login-left-input" placeholder="مدت زمان" name="time3" onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off"><br><br><br>
                                <input type="text" id="topic" class="login-left-input" placeholder="موضوع" name="topic4" onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off">
                                <input type="text" id="time" class="login-left-input" placeholder="مدت زمان" name="time4" onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off"><br><br><br>
                                <input type="text" id="topic" class="login-left-input" placeholder="موضوع" name="topic5" onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off">
                                <input type="text" id="time" class="login-left-input" placeholder="مدت زمان" name="time5" onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off"><br><br><br>
                                <input type="text" id="topic" class="login-left-input" placeholder="موضوع" name="topic6" onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off">
                                <input type="text" id="time" class="login-left-input" placeholder="مدت زمان" name="time6" onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off"><br><br><br>
                                <input type="text" id="topic" class="login-left-input" placeholder="موضوع" name="topic7" onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off">
                                <input type="text" id="time" class="login-left-input" placeholder="مدت زمان" name="time7" onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off"><br><br><br>
                                <input type="text" id="topic" class="login-left-input" placeholder="موضوع" name="topic8" onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off">
                                <input type="text" id="time" class="login-left-input" placeholder="مدت زمان" name="time8" onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off"><br><br><br>
                                <input type="text" id="topic" class="login-left-input" placeholder="موضوع" name="topic9" onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off">
                                <input type="text" id="time" class="login-left-input" placeholder="مدت زمان" name="time9" onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off"><br><br><br>
                                <input type="text" id="topic" class="login-left-input" placeholder="موضوع" name="topic10" onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off">
                                <input type="text" id="time" class="login-left-input" placeholder="مدت زمان" name="time10" onfocus="focusInput(this)" onblur="blurInput(this)" autocomplete="off"><br>
                            </div>
                        </div>
                        <div class="login-left-input-group">
                            <button type="submit" class="login-left-submit">ثبت</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
    <!-- END LOGIN -->

</div>
<script src="{% static 'scripts/jquery.js' %}"></script>
<script>
    function focusInput(element) {
        element.parentNode.classList.add("focus-input-wrapper")
    }

    function blurInput(element) {
        element.parentNode.classList.remove("focus-input-wrapper");
    }
</script>
</body>
</html>