{% extends 'base.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'styles/aos.css' %}">
    <link rel="stylesheet" href="{% static 'styles/list-courses.css' %}">
    <title>گالری آموزش</title>
{% endblock header %}


{% block page %}
<div class="page-wrapper">
    <section class="list-courses">
        <div class="container list-courses-container">
            <div class="list-courses-boxes-wrapper">
                <div class="row list-courses-boxes-wrapper-row">
                {% for p in products %}
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="list-courses-boxes">
                            <div class="list-courses-boxes-header">
                                <img src="{{p.image.url}}" class="list-courses-boxes-header-image"
                                     alt="p.name.decode"/>
                                <div class="list-courses-boxes-header-overlay">
                                    <a href="{% url 'product' p.id %}" class="list-courses-boxes-header-overlay-link">مشاهده دوره</a>
                                </div>
                            </div>
                            <div class="list-courses-boxes-content">
                                <h3 class="list-courses-boxes-content-heading-three">
                                    <a href="{% url 'product' p.id %}" class="list-courses-boxes-content-link">{{p.name.decode}}</a>
                                </h3>
                            </div>
                            <div class="list-courses-boxes-footer">
                                <span class="list-courses-boxes-footer-time">
                                    <i class="fa fa-clock-o list-courses-boxes-footer-time-icon"></i>
                                    <span class="list-courses-boxes-footer-time-text">{{p.time.decode}}</span>
                                </span>
                                                            <span class="list-courses-boxes-footer-price">
                                    <span class="list-courses-boxes-footer-price-text">{{p.real_price}} تومان</span>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <!--<div class="list-courses-pagination">
                <ul class="list-courses-pagination-list">
                    <li class="list-courses-pagination-item">
                        <a href="" class="list-courses-pagination-link"></a>
                    </li>
                    <li class="list-courses-pagination-item list-courses-pagination-item-active">
                        <a href="" class="list-courses-pagination-link">1</a>
                    </li>
                    <li class="list-courses-pagination-item">
                        <a href="" class="list-courses-pagination-link">2</a>
                    </li>
                    <li class="list-courses-pagination-item">
                        <a href="" class="list-courses-pagination-link">3</a>
                    </li>
                    <li class="list-courses-pagination-item">
                        <a href="" class="list-courses-pagination-link">4</a>
                    </li>
                    <li class="list-courses-pagination-item">
                        <a href="" class="list-courses-pagination-link">></a>
                    </li>
                </ul>
            </div>-->
        </div>
    </section>
</div>

{% endblock page %}
