{% extends 'base.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'styles/panel.css' %}">
    <title>پنل کاربری</title>
{% endblock header %}

{% block page %}
<div class="page-wrapper">

    <!-- START PANEL -->
    <section class="panel">
        <div class="container panel-container">
            <div class="row panel-row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 panel-right-col">
                    <div class="panel-right">
                        <div class="panel-right-header">
                            <img src="{% static 'images/default-user.jpg' %}" class="panel-right-header-image"/>
                            <h3 class="panel-right-header-heading-three">{{user.name.decode}}</h3>
                            <p class="panel-right-header-paragraph">
                                عضویت از :
                                {{user.shamsi_date}}
                            </p>
                        </div>
                        <div class="panel-right-content">
                            <ul class="panel-right-content-list">
                                <li class="panel-right-content-item">
                                    <a href="{% url 'dashboard' %}" class="panel-right-content-link">
                                        داشبورد
                                    </a>
                                </li>
                                <!--<li class="panel-right-content-item">
                                    <a href="#" class="panel-right-content-link">
                                        ویرایش اطلاعات شخصی
                                    </a>
                                </li>-->
                                <li class="panel-right-content-item panel-right-content-item-active">
                                    <a href="{% url 'edit_password' %}" class="panel-right-content-link">
                                        تغییر رمز عبور
                                    </a>
                                </li>
                                <li class="panel-right-content-item">
                                    <a href="{% url 'my_courses' %}" class="panel-right-content-link">
                                        دوره های من
                                    </a>
                                </li>
                                <li class="panel-right-content-item">
                                    <a href="{% url 'logout' %}" class="panel-right-content-link">
                                        خروج از حساب کاربری
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-9 panel-left-col">
                    <div class="panel-left">
                        <div class="panel-left-change-password">
                            <div class="panel-left-change-password-header">
                                <h3 class="panel-left-change-password-header-heading-three">
                                    تغییر رمز عبور
                                </h3>
                            </div>
                            <div class="panel-left-change-password-content">
                                {% if error %}
                                <div class="alert alert-danger w-75 mx-auto">
                                    <p>{{error}}</p>
                                </div>
                                {% endif %}
                                {% if alert %}
                                <div class="alert alert-success w-75 mx-auto">
                                    <p>{{alert}}</p>
                                </div>
                                {% endif %}
                                <form action="{% url 'edit_password' %}" method="POST" class="panel-left-change-password-content-form">
                                    {% csrf_token %}
                                    <div class="panel-left-change-password-content-input-group">
                                        <label class="panel-left-change-password-content-label">رمز عبور فعلی:</label>
                                        <input type="password" name="password" required class="panel-left-change-password-content-input" />
                                    </div>
                                    <div class="panel-left-change-password-content-input-group">
                                        <div class="row panel-left-change-password-content-input-group-row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 panel-left-change-password-content-input-col">
                                                <label class="panel-left-change-password-content-label">رمز عبور جدید:</label>
                                                <input type="password" name="new_password" required class="panel-left-change-password-content-input" />
                                            </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 panel-left-change-password-content-input-col">
                                                    <label class="panel-left-change-password-content-label">تکرار رمز عبور جدید:</label>
                                                    <input type="password" name="cnf_new_password" required class="panel-left-change-password-content-input" />
                                                </div>
                                        </div>
                                    </div>
                                    <div class="panel-left-change-password-content-input-group">
                                        <input type="submit" class="panel-left-change-password-content-submit" value="اعمال تغییرات">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END PANEL -->
</div>

{% endblock page %}

